/* Aseguramos que el div que contiene la imagen ocupe toda la pantalla */
.page-about {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://th.bing.com/th/id/R.e284bbf3c8398308e25feea308ba97af?rik=TWh8XB43bMk4QA&pid=ImgRaw&r=0');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; /* Permite posicionar elementos internos absolutamente */
  overflow: hidden; /* Evita scroll innecesario */
}

/* Capa semitransparente encima del fondo */
.page-about::before {
  content: ''; /* Necesario para que el pseudo-elemento sea visible */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Negro con 50% de opacidad */
  z-index: 1; /* Se coloca sobre el fondo */
}

/* Asegurar que el contenido quede visible y no afectado por la transparencia */
.page-about > * {
  position: relative;
  z-index: 2;
}


/* Capa de superposición para mejorar la legibilidad del texto */
.page-about::after {
content: '';
position:initial;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1; /* Aseguramos que la capa esté detrás del contenido */
}

/* Estilo para el contenedor de texto */
.page-about-content {
text-align:center;
padding: 2rem 3rem;
border-radius: 1rem;
max-width:90%; /* Limitar el tamaño del contenedor */
}

/* Estilos del título */
.page-about-content h1 {
font-size: 3rem;
font-weight:400;
margin-bottom: 1rem;
color:#ffffff; 
letter-spacing: 2px; /* Espaciado entre letras para un toque futurista */
text-transform: uppercase; /* Mayúsculas para darle más protagonismo */
}

/* Estilo del párrafo */
.page-about-content p {
font-size: 2rem;
color: #ffffff; 
margin-bottom: 2rem;
line-height: 1.6;
}


/* Estilo del b */
.page-about-content b {
font-size: 1.3rem;
color: #ffffff; 
margin-bottom: 2rem;
line-height: 1.6;
position:relative;
}